.portfolio{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  justify-items: center;
  padding: 40px;
}
.project-card{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  border-radius: 20px;
  justify-content: space-between;
}
.project-img{
  width: 90%;
  border-radius: 15px;
}
.project-card:hover{
  animation: glowSection 1s infinite alternate;
}
h2{
  margin-top: 35px;
  text-align: center;
  font-size: 30px;
  margin-top: 40px;
}
.project-description{
  color: white;
  text-align: center;
  margin-top: 30px;
}
.live-preview{
  margin-bottom: 20px;
  width: 80%;
  background-color: purple;
  height: 40px;
  border-radius: 25px;
  color: white;
  align-self: center;
  cursor: pointer;
  border: none;
  margin-top: 25px;
}

.btn-text{
  color: white;
  text-decoration: none;
}

.show-project{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90vh;
  width: 500px;
  background-color: rgb(0, 0, 0);
  z-index: 2;
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding: 25px;
  border-radius: 10px;
  display: none;
}
.project{
  width: 100%;
  height: 60px;
  background-color: rgb(43, 43, 43);
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  margin-top: 20px;
  cursor: pointer;
}
.project-link{
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.project::after{
  content: '';
  right: 20px;
  height: 30px;
  width: 10px;
  background:linear-gradient(to bottom,rgb(255, 0, 0),rgb(89, 0, 255)) ;
  position: absolute;
}
.i1{
  color: white;
  position: absolute;
  font-size: 25px;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
@media(max-width:1000px){
  .portfolio{
    grid-template-columns: repeat(2,1fr);
    padding: 0;
  }
}
@media(max-width:600px){
  .portfolio{
    grid-template-columns: repeat(1,1fr);
    padding: 10px;
  }
  .show-project{
    width: 90%;
  }
}